<div><span><input type="checkbox" <%= @entity.has_public_data? ? %{CHECKED=CHECKED} : "" %>
      onclick="new Ajax.Request(
      '<%= url_for(:controller => "rest/simple/admin/entities", :action => 'toggle_public_data')%>',
      {  postBody: 'id='+<%=@entity.id%>+'&value='+this.checked
      ,onSuccess: new Effect.Highlight(this.parentNode)
      }
      );"
      name="is_data_public" /><%= t("rest.simple.admin.entities.madb_data_is_publicly_available") %> </span></div>


